toggle-switch{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: .5rem;

  button, button:active, button:hover, button:focus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 2rem;
    width: 4rem;
    background-color: $theme-dark-gray;
    border-radius: 1rem;
    border: 2px solid lighten($theme-dark-gray, 20%);
    &:disabled{
      border: none;
      div{
        opacity: .5;
      }
    }
    div{
      height: 1rem;
      width: 1rem;
      border-radius: .5rem;
      background-color: $theme-color;
    }
  }

  span{
    width: 100%;
    margin-left: .5rem;
    text-align: left;
  }

}
