wine-info-modal{
  visibility: hidden;
  .main-modal-wrapper{
    .main-modal-container{
      .main-modal-content{
        table{
          td:first-child{
            width: 30%;
            text-align: right;
            font-weight: bold;
            // color: darken($theme-neutral-color, 20%);
          }
        }
      }
    }
  }
}
