alerts-modal{
  visibility: hidden;
  .main-modal-wrapper{
    .main-modal-container{
      .main-modal-header{
        &.warning{
          background-color: $theme-pending-color;
        }
      }
      .main-modal-content{
        p{
          text-align: center;
        }
      }
    }
  }
}
