tasting-list-item{

  display: flex;
  flex-direction: row;
  // border: 2px solid lighten($theme-dark-gray, 20%);
  border-radius: 1.5rem;
  background-color: $theme-dark-gray;
  margin: .5rem .5rem 0 .5rem;
  .tasting-list-item-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 3rem;
    width: 100%;
    text-decoration: none;
    .tasting-list-item-date{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 100%;
      color: $theme-header-color;
      border-radius: 1.5rem 0 0 1.5rem;;
      // border: 2px solid lighten($theme-dark-gray, 20%);
      background-color: lighten($theme-dark-gray, 20%);
      &.pending{
        // border: 2px solid $theme-pending-color;
        background-color: $theme-tasting-pending-color;
      }
      &.open{
        // border: 2px solid $theme-open-color;
        background-color: $theme-tasting-open-color;
      }
      &.closed{
        // border: 2px solid $theme-open-color;
        background-color: $theme-tasting-closed-color;
      }
      span:first-child{
        font-size: 1rem;
      }
      span:last-child{
        font-size: .9rem;
      }
    }
    .tasting-list-item-title{
      display: flex;
      flex-direction: column;
      // align-items: center;
      padding: 0.5rem 1rem 0.5rem 1rem;
      color: $theme-neutral-color;
      text-align: left;
      // width: 100%;
      // border: 1px solid green;
      span:first-child{
        font-size: 1rem;
      }
      span:last-child{
        font-size: .8rem;
      }
    }
  }
  button{
    align-self: center;
  }
}
