wine-list-item{
  .wine-list-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid lighten($theme-dark-gray, 20%);
    border-radius: 1.5rem;
    background-color: $theme-dark-gray;
    min-height: 3rem;
    margin-bottom: .5rem;

    .wine-list-item-link{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      text-decoration: none;
      .wine-list-vintage{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 3rem;
        color: #fff;
        border-radius: 1.5rem 0 0 1.5rem;;
        border: 1px solid $theme-color;
        background-color: $theme-color;
      }
      .wine-list-title{
        padding: 0 1rem 0 1rem;
        color: $theme-neutral-color;
        text-align: left;
        width: 100%;
        // border: 1px solid green;
      }
    }
  }
}
