.circle-btn a   {
  background-color: $theme-bkg-color;
  border-radius: 50%;
  border: 2px solid $theme-neutral-color;
  color: $theme-neutral-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
