
    <h2>
      <%= @guest.taster.name %> will not be attending <%= @guest.tasting.name %>
    </h2>
    <p>
      Contact them at <a mailto="<%= @guest.taster.user.email %>"><%= @guest.taster.user.email %></a>
    </p>
