
    <h2>
      <%= @guest.tasting.host.taster.name %> has removed you from Yno Tasting "<%= @guest.tasting.name %>"
    </h2>
    <p>
      Contact them at <a href="mailto:<%= @guest.tasting.host.taster.user.email %>"><%= @guest.tasting.host.taster.user.email %></a>
    </p>
