
    <h2>
      <%= @guest.taster.name %> has left Yno Tasting "<%= @guest.tasting.name %>"
    </h2>
    <p>
      Contact them at <a href="mailto:<%= @guest.taster.user.email %>"><%= @guest.taster.user.email %></a>
    </p>
