tasting-wine-list-item{

  display: flex;
  flex-direction: row;
  border: 2px solid lighten($theme-dark-gray, 20%);
  border-radius: 1.5rem;
  background-color: $theme-dark-gray;
  margin-bottom: .5rem;
  padding-right: .25rem;

  .tasting-wine-list-item-link{
    display: flex;
    flex-direction: row;
    min-height: 3rem;
    width: 100%;
    text-decoration: none;
    .tasting-wine-list-vintage{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 100%;
      color: $theme-header-color;
      border-radius: 1.5rem 0 0 1.5rem;;
      // border: 1px solid $theme-color;
      background-color: $theme-color-dark;
    }
    .tasting-wine-list-title{
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem 0.5rem 1rem;
      color: $theme-neutral-color;
      text-align: left;
      width: 100%;
      // border: 1px solid green;
    }
  }

  button{
    align-self: center;
  }

}
