.tasting{
  .tasting-panel{
    .tasting-section{
      .tasting-section-list{
        // border: 1px solid blue;
        &.new{
          height: calc(100vh - 11rem); max-height: calc(100vh - 11rem);
        }
      }
    }
  }
}


@media (min-width: 800px) and (orientation: landscape){
  .tasting{
    .tasting-panel{

      .tasting-section{
        .tasting-header{
          &.new{
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }
        .tasting-section-list{
          // border: 1px solid blue;
          &.new{
            height: calc(100vh - 15rem); max-height: calc(100vh - 15rem);
          }
        }
      }
    }
  }
}
