
<div>
  <h4 style="text-align: center">Join us</h4>
  <hr/>
  <div class="container-fluid row">
    <p>Remote IP: <%= request.remote_ip %></p>
    <div class="col-sm-6">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg btn-block" %>
    </div>
  </div>
</div>
