
<div>
  <h4 style="text-align: center">Privacy Policy</h4>
  <hr/>
  <strong>We Care</strong>
  <p>
    Yno Tasting is currently free to all our members. We do not currently share any tasting or member information. Our primary objective is to enhance our members' experience with wine. In the future, we may offer a paid premium version or sell wine and tasting data to 3rd parties in the wine industry. If and when this occurs we will alert all of our members of any changes to this privacy policy. It is our primary objective to protect our members' personal information. We use best practices in encryption and authentication to protect our member data.
  </p>
  <strong>What We May Share in the Future</strong>
  <p>
    We reserve the right to share wine info, wine ratings, wine comments, tasting titles/descriptions and some taster profile information with members of Yno Tasting and 3rd party affiliates. Shared profile information only includes zip codes and voluntary preferences.
    We strongly recommend that users do not enter personal information like emails, phone numbers, addresses in any of these categories.
  </p>
  <strong>What We Will Never Share</strong>
  <p>
    We do not share under any circumstances emails, passwords, names, addresses, or nicknames of our members with 3rd parties. Member names and nicknames are viewable to other Yno Tasting members only if they are connected via a tasting invitation. Emails are not visible to other members at any time.
  </p>
  <p>Please <a href="mailto:support@ynotasting.com">contact us</a> for more information</p>
</div>
