wine-review-status-modal{
  visibility: hidden;
  .main-modal-wrapper{
    .main-modal-container{
      .main-modal-content{
        table{
          th:first-child{
            width: 70%;
          }
          td{
            text-align: center;
          }
          td:first-child{
            text-align: right;
          }
        }
      }
    }
  }

}
