wine-review-status-modal{
  visibility: hidden;
  .main-modal-wrapper{
    .main-modal-container{
      .main-modal-content{
        table{
          // th, td:first-child{
          //   width: 80%;
          // }
          th:last-child, td:last-child{
            text-align: center;
          }
        }
      }
    }
  }

}
