
.taster-invites-detail-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  // border: 1px solid blue;
  padding: 1rem;
}

// .taster-invites-btns{
//   position: fixed;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   background-color: $theme-bkg-color;
//   justify-content: center;
//   bottom: 4rem;
//   height: 4rem;
//   width: 100%;
//   border: 1px solid blue;
// }
