wine-review{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;

  &.ng-hide{
    opacity: 0;
  }
  &.ng-hide-add, &.ng-hide-remove{
    transition: all 0.5s ease-out;
  }

  .wine-review-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $theme-bkg-color;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .wine-review-form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wine-review-notes-wrapper{
    transition: top ease-out 0.3s;
    position: absolute;
    background-color: $theme-bkg-color;
    border: 2px solid $theme-neutral-color;
    border-radius: .5rem;
    color: $theme-neutral-color;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 10rem;
    padding: 1rem;
    &.ng-hide{
      top: 100vh;
      opacity: 0;
    }
    &.ng-hide-add, &.ng-hide-remove{
      transition: all 0.5s ease-out;
    }
    button{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      color: rgba($theme-neutral-color, .7);
    }
    textarea{
      background-color: $theme-bkg-color;
      color: $theme-neutral-color;
      border: none;
      font-size: 1.2rem;
      width: 100%;
      height: 100%;
    }
    textarea:focus{
      outline: none;
    }
  }

  .wine-review-btns-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $theme-bkg-color;
    height: 8rem;
    width: 100%;
    margin-top: 2rem;
  }

  .wine-review-notes-btn, .wine-review-submit-btn{
    @extend .circle-btn;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    &.primary{
      background-color: $theme-neutral-color;
      color: $theme-bkg-color;
    }
  }

  .wine-review-submit-btn{
    width: 5rem;
    height: 5rem;
  }

  .wine-review-notes-btn:focus, .wine-review-submit-btn:focus{
    outline: none;
  }

  .wine-review-ratings-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    color: $theme-neutral-color;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 2rem;
    background: linear-gradient(
      to left,
      rgba($theme-neutral-color,0),
      rgba($theme-neutral-color,.7) 20%,
      rgba($theme-neutral-color,0));
    &.good{
      background: linear-gradient(
        to left,
        rgba($theme-good-color,0),
        rgba($theme-good-color,.7) 20%,
        rgba($theme-good-color,0));
      color: $theme-good-color;
      &.selected{
        background: linear-gradient(
          to right,
          rgba($theme-good-color,.7),
          rgba($theme-good-color,0) 80%);
        color: $theme-bkg-color;
      }
    }
    &.ok{
      background: linear-gradient(
        to left,
        rgba($theme-ok-color,0),
        rgba($theme-ok-color,.7) 20%,
        rgba($theme-ok-color,0));
      color: $theme-ok-color;
      &.selected{
        background: linear-gradient(
          to right,
          rgba($theme-ok-color,.7),
          rgba($theme-ok-color,0) 80%);
        color: $theme-bkg-color;
      }
    }
    &.bad{
      background: linear-gradient(
        to left,
        rgba($theme-bad-color,0),
        rgba($theme-bad-color,.7) 20%,
        rgba($theme-bad-color,0));
      color: $theme-bad-color;
      &.selected{
        background: linear-gradient(
          to right,
          rgba($theme-bad-color,.7),
          rgba($theme-bad-color,0) 80%);
        color: $theme-bkg-color;
      }
    }
    .name{
      font-size: 1.2rem;
      padding-left: 1rem;
    }
    .btn{
      @extend .circle-btn;
      font-size: 2rem;
      position: relative;
      width: 4.5rem;
      height: 4.5rem;
      margin-left: auto;
      margin-right: 0;
      background-color: $theme-bkg-color;
      &.good{
        border: 2px solid $theme-good-color;
        &.selected{
          background-color: $theme-good-color;
          color: $theme-bkg-color;
        }
      }
      &.ok{
        border: 2px solid $theme-ok-color;
        &.selected{
          background-color: $theme-ok-color;
          color: $theme-bkg-color;
        }
      }
      &.bad{
        border: 2px solid $theme-bad-color;
        &.selected{
          background-color: $theme-bad-color;
          color: $theme-bkg-color;
        }
      }

    }
  }
}
