
.welcome-background{
  &.who{
    background-image: url("/assets/images/welcome/welcome-who-mobile-bkg.jpg");
    .welcome-logo{
      top: 0;
    }

    .welcome-tagline{
      top: 50%;
    }

    // .welcome-copy{
    //   top: 45%;
    // }
  }

}

@media (min-width: 800px) and (orientation: landscape){
  .welcome-background{
    &.who{
      background-image: url("/assets/images/welcome/welcome-who-bkg.jpg");

      .welcome-logo{
        top: 51%;
      }
      //
      // .welcome-tagline{
      //   top: 50%;
      // }
      //
      // .welcome-copy{
      //   &.top{
      //     justify-content: flex-end;
      //     top: 0; bottom: 50%;
      //     padding: 1rem 1rem 1rem 0;
      //   }
      //   &.bottom{
      //     justify-content: flex-start;
      //     top: 50%; bottom: 0;
      //     padding: 2rem 1rem 0 0;
      //   }
      // }
    }
  }
}
