
$theme-bkg-color: rgb(0, 0, 0);
// $theme-primary-btn-color: rgb(255, 245, 157);
// $theme-primary-focus-color: rgba(255, 245, 157, .2);
$theme-good-color: rgb(0, 230, 118);
$theme-ok-color: rgb(255, 255, 141);
$theme-bad-color: rgb(255, 82, 82);
$theme-pending-color: rgb(135, 125,0);
$theme-open-color: rgb(0, 108, 0);
$theme-neutral-color: rgb(167, 159, 148);
$theme-info-color: rgb(159, 168, 218);
$theme-color: rgb(67, 0, 46);
$theme-color-dark: darken($theme-color, 20%);
$theme-light-gray: darken($theme-neutral-color, 30%);
$theme-medium-gray: darken($theme-neutral-color, 40%);
$theme-dark-gray: darken($theme-neutral-color, 50%);
$theme-header-color: lighten($theme-neutral-color, 20%);
$theme-tasting-closed-color: #720000;
$theme-tasting-pending-color: #725F00;
$theme-tasting-open-color: #146000;

$review-bad-color: #720000;
$review-bad-ok-color: #724B00;
$review-ok-color: #725F00;
$review-ok-good-color: #6B7100;
$review-good-color: #146000;

@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Lato:300,400');


  ui-view{
    &.ng-enter, &.ng-leave{
      transition: 0.5s all;
    }
    &.ng-enter{
      opacity: 0;
      &.ng-enter-active{
        opacity: 1;
      }
    }
    &.ng-leave{
      opacity: 1;
      &.ng-leave-active{
        opacity: 0;
      }
    }
  }


body{
  background-color: $theme-bkg-color;
  color: $theme-neutral-color;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,h2,h3,h4{
  font-weight: 400;
}
h3,h4{
  margin: 0;
}

a{
  color: #fff;
  text-decoration: none;
}

a.disabled{
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

button{
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  border: none;
  // border: 2px solid $theme-light-gray;
  // background-color: $theme-dark-gray;
  background-color: $theme-neutral-color;
  color: $theme-color;
  font-size: 1.2rem;
  // margin: 0 .25rem 0 .25rem;
  cursor: pointer;
  &:hover, &:focus{
    outline: none;
    border: none;
    background-color: #fff;
    color: $theme-bkg-color;
  }
  &:disabled{
    pointer-events: none;
    background-color: $theme-dark-gray;
    // border: 2px solid $theme-dark-gray;
    color: $theme-light-gray;
  }
  &.small-btn{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: $theme-neutral-color;
    color: $theme-color;
    font-size: 1rem;
    margin: 0 0.1rem 0 0.1rem;
    // &.secondary{
    //   background-color: #fff;
    //   color: $theme-color;
    // }
    &:disabled{
      background-color: $theme-dark-gray;
      color: $theme-light-gray;
    }
  }
  &.text-btn{
    min-height: 3rem;
    height: auto;
    width: auto;
    border-radius: 1.5rem;
    border: none;
    background-color: $theme-color;
    color: #fff;
    font-size: 1.2rem;
    // margin: .5rem;
    padding: 0 1rem 0 1rem;
    &.good{
      border: none;
      background-color: $theme-open-color;
    }
    &:disabled{
      border: 2px solid $theme-dark-gray;
      background-color: $theme-dark-gray;
      color: lighten($theme-dark-gray, 20%);
    }
    &:hover, &:focus{
      background-color: #fff;
      color: $theme-color;
    }
  }
}

h3{
  text-align: center;
}


.badge{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: .75rem;
  background-color: darken($theme-color, 20%);
  color: $theme-header-color;
  margin-right: .5rem;
}


.circle-btn{
  background-color: $theme-bkg-color;
  border-radius: 50%;
  border: 2px solid $theme-neutral-color;
  color: $theme-neutral-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

}

.circle-primary-btn{
  background-color: $theme-neutral-color;
  color: $theme-bkg-color;
}

.info-btn{
  @extend .circle-btn;
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
}

.notes{
  font-size: .9rem;
  color: darken($theme-neutral-color, 20%);
}

.main-wrapper{
  position: fixed;
  left: 0;
  top: 4rem;
  right: 0;
  bottom: 4rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.mobile-nav-spacer{
  height: 6rem;
}

header, .main-header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: darken($theme-color, 20%);
  color: $theme-header-color;
  button{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 2px solid $theme-color;
    background-color: $theme-bkg-color;
    color: #fff;
    font-size: 1.2rem;

  }
}

section{
  position: fixed;
  left: 0rem;
  top: 4rem;
  right: 0rem;
  bottom: 0rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
  overflow-y: auto;
  text-align: center;
  // padding: 1rem;
  // border: 1px solid blue;
  p, h3, h4{
    margin: 1rem;
  }
}

.desktop-logo{
  display: none;
}
@media (min-width: 800px) and (orientation: landscape){
  .desktop-logo{
    // position: fixed;
    // position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; width: 15%;
    margin-right: 2rem;

    .desktop-logo-top{
      // border: 1px solid red;
      height: 50%;
    }
    .desktop-logo-bottom{
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 50%;
      img{
        margin-bottom: 1rem;
        width: 5rem;
      }
    }
  }
}



/* FORM CONTROLS */

// .main-form-container{
//   position: table;
//   min-height: 1rem;
//   border: 1px solid blue;
// }

.main-form-control{
  display: flex;
  flex-direction: row;
  // align-items: center;
  // align-self: center;
  // justify-content: flex-start;
  // min-height: 3rem;
  // width: 100%;
  border-radius: 1.5rem;
  border: 2px solid $theme-light-gray;
  background-color: $theme-dark-gray;
  color: $theme-neutral-color;
  margin: .5rem;
  padding: 0 .5rem 0 .5rem;

  &.checkbox{
    label{
      span:first-child{
        font-size: 1.5rem;
      }
    }
    div{
      display: flex;
      align-items: center;
      min-height: 3rem;
      border-left: 2px solid $theme-light-gray;
      padding-left: .5rem;
    }
  }

  &.error{
    border-color: $theme-bad-color;
    color: $theme-bad-color;
  }

  &:focus{
    outline: none;
  }

  &.disabled{
    opacity: .5;
  }

  label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    min-height: 3rem;
    color: $theme-neutral-color;
    border-radius: 1.5rem 0 0 1.5rem;
    padding: 0 .5rem 0 .5rem;
    margin: 0 .5rem 0 .5rem;
    // border: 2px solid $theme-color;
    // background-color: $theme-color;
    span:last-child{
      font-size: .8rem;
      opacity: .5;
    }
    span:first-child{
      font-size: .9rem;
      opacity: 1;
    }

  }

  input, textarea{
    width: 100%;
    background: rgba(255,255,255,0);
    border: none;
    border-left: 2px solid $theme-light-gray;
    padding-left: .5rem;
    font-size: .9rem;
    color: $theme-neutral-color;
  }
  input{
    min-height: 3rem;
  }
  textarea{
    padding-top: .5rem;
    min-height: 6rem;
    resize: none;
  }
  input:focus, textarea:focus{
    outline: none;
  }

}

.main-form-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $theme-dark-gray;
  border-radius: 1.5rem;
  border: 2px solid $theme-dark-gray;
  min-height: 3rem;
  margin: 1rem .5rem 1rem .5rem;
  .descriptor{
    padding-left: 1rem;
  }
  button{
    margin-left: .5rem;
  }
}


/* MODAL STYLES */

.main-modal-wrapper{
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgba($theme-neutral-color, .9);


  .main-modal-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $theme-dark-gray;
    border-radius: 1.5rem;
    // border: 2px solid darken($theme-color, 20%);

    .main-modal-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 4rem;
      min-height: 4rem;
      border-radius: 1.5rem 1.5rem 0 0;
      color: $theme-header-color;
      background-color: $theme-color;
      padding-left: 1rem;
    }
    .main-modal-subheader{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $theme-bkg-color;
      // background-color: $theme-dark-gray;
      min-height: 3rem;
      padding: .5rem;
    }
    .main-modal-content{
      display: flex;
      flex-direction: column;
      min-height: 5rem;
      max-height: calc(100vh - 14rem);
      overflow-y: auto;
      // padding: .5rem;
      // overflow-x: hidden;
      // border: 1px solid blue;
      ul{
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        // border: 1px dashed blue;
        li{
          border-bottom: 1px solid $theme-light-gray;
          text-align: left;
          // border: 1px dashed blue;
          a{
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: center;
            text-decoration: none;
            color: inherit;
            // border: 1px dashed blue;
            padding: 0 1rem 0 1rem;
            min-height: 3rem;
          }
          a:hover{
            background-color: lighten($theme-dark-gray, 5%);
          }
          a.selected{
            background-color: $theme-medium-gray;
          }
        }
      }
      table{
        width: 100%;
        table-layout: fixed;
        // border: 1px dashed blue;
        th{
          color: darken($theme-neutral-color, 20%);
          text-align: center;
        }
        th, td{
          padding: .5rem;
        }
        td{
          text-align: left;
        }
        th:first-child{
          width: 25%;
        }
        tr:nth-child(even){
          background-color: lighten($theme-dark-gray, 5%);
        }
        // tr:first-child{
        //   td{
        //     border-top: 1px solid lighten($theme-dark-gray, 20%);
        //   }
        // }
        // tr:last-child{
        //   td{
        //     border-bottom: 1px solid lighten($theme-dark-gray, 20%);
        //   }
        // }
      }
      // h1,h2,h3,h4,p,span{
      //   padding: 1rem;
      // }
    }
    .main-modal-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4rem;
      min-height: 4rem;
      border-radius: 0 0 1.5rem 1.5rem;
      padding: 0 .5rem 0 .5rem;
      background-color: $theme-bkg-color;
      // border-top: 2px solid lighten($theme-dark-gray, 20%);
    }
  }
}

@media (min-width: 800px) and (orientation: landscape){
  .main-modal-wrapper{
    padding-left: 4rem;
    padding-right: 4rem;
    .main-modal-container{
      width: 40rem;
      align-self: center;
    }
  }
}

/* LIST STYLES */


.main-list-container{
  // display: flex;
  // flex-direction: column;
  // background-color: $theme-dark-gray;
  // border-radius: 1.5rem;
  // border: 2px solid lighten($theme-dark-gray, 20%);
  max-height: 19rem;

  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    // border: 1px dashed blue;
    li{
      border-bottom: 1px solid lighten($theme-dark-gray, 20%);
      display: flex;
      align-items: center;
      text-align: left;
      // border: 1px dashed blue;
      padding: 0 1rem 0 1rem;
      min-height: 3rem;
    }
    li:last-child{
      border-bottom: none;
    }
    li:hover{

    }
  }

  }




// injector
// endinjector
