<%= form_for(tasting) do |f| %>
  <% if tasting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tasting.errors.count, "error") %> prohibited this tasting from being saved:</h2>

      <ul>
      <% tasting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
