<p>Ahoy Captain Forgetful!</p>

<p>If you've requested resetting your Yno Tasting password, Paste in the code below.</p>

<p><strong>CODE: <%= @token %></strong></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
