wait-state{
  position: fixed;
  visibility:hidden;
  background-color: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid blue;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
}
