progress-bar{
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background-color: $theme-dark-gray;
  .track{
    width: 0%;
    height: 2rem;
    border-radius: 1rem;
    background: linear-gradient(to right, rgba($theme-neutral-color,0), rgba($theme-neutral-color,.3))
  }
  .label{
    position: relative;
    margin-left: -2.5rem;
    color: $theme-header-color;
  }
}
